@page "/viewedit"
@page "/questedit/{QuestId}/views/{ViewId}"
@inherits ViewEditBase

    <section class="view-edit">
        @if (!Saved)
        {

            <h1 class="page-title">@Title</h1>
            <EditForm Model="@View" OnValidSubmit="@HandleValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group row">
                    <label for="name" class="col-sm-3">Name: </label>
                    <InputText id="name" class="form-control col-sm-8" @bind-Value="@View.Name" placeholder="Enter Name" @ref="NameInputText"></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() =>View.Name)" />
                </div>
                <div class="form-group row">
                    <label for="description" class="col-sm-3">Description: </label>
                    <InputText id="description" class="form-control col-sm-8" @bind-Value="@View.Description" placeholder="Enter Description" @ref="DescriptionInputText"></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() =>View.Description)" />
                </div>
                <div class="form-group row">
                    <label for="image" class="col-sm-3">Image: </label>
                    <InputText id="image" class="form-control col-sm-8" @bind-Value="@View.ImageUrl" placeholder="Enter Image" @ref="ImageInputText"></InputText>
                    <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() =>View.ImageUrl)" />
                </div>
                <div class="form-group row">
                    <label for="isPrivate" class="offset-sm-3">
                        <InputCheckbox id="isPrivate" @bind-Value="@View.IsPrivate"></InputCheckbox>
                        &nbsp;Is Private:
                    </label>
                </div>
                <div class="form-group row">
                    <label for="excludeByDefault" class="offset-sm-3">
                        <InputCheckbox id="excludeByDefault" @bind-Value="@View.ExcludeByDefault"></InputCheckbox>
                        &nbsp;Exclude By Default:
                    </label>
                </div>

                <h2 class="sidebar-heading">User Weights</h2>
                <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() =>View.UserWeights)" />
                <table class="table">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Exclude</th>
                            <th>Weight</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var userWeight in View.UserWeights)
                        {
                            <tr>
                                <td>
                                    <InputNumber @bind-Value="@userWeight.UserId"></InputNumber>
                                </td>
                                <td>
                                    <InputCheckbox @bind-Value="@userWeight.ExcludeUser"></InputCheckbox>
                                </td>
                                <td>
                                    <InputNumber @bind-Value="@userWeight.Weight"></InputNumber>
                                </td>
                                @*                            <td>@userWeight.ExcludeUser</td>*@
                                @*                            <td>@userWeight.Weight</td>*@
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary edit-btn">Save view</button>
                <a class="btn btn-outline-primary edit-outline-btn" @onclick="@NavigateToOverview">Cancel</a>
                @if (ViewDto.Id > 0)
                {
                    <a class="btn btn-danger" @onclick="@DeleteView">
                        Delete
                    </a>
                }
            </EditForm>
        }
        else
        {
            <div class="alert @StatusClass">@Message</div>
            <a class="btn btn-outline-primary" @onclick="@NavigateToOverview">Back to overview</a>

        }
    </section>